{% extends 'templates/mainbase.html' %}
{% block content %}
<main>
<!-- page layout width Start -->
<section class="lw-about">
    <div class="container-fluid lw-page-header border-none">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="lw-pghd-text">
                        <h3>About Us</h3>
                        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/leftword_home">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">About Us</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

<figure class="about-banner">  <img src="src/img/about-banner.jpg" class="img-fluid"></figure>
    <div class="container-fluid">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="card border-none lw-about-block">
              <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <div class="lw-about-holder">
                  <h3>Welcome to Leftword</h3>
                  <p>LeftWord Books (Naya Rasta Publishers Pvt. Ltd) is a New Delhi-based publishing house that seeks to reflect the views of the left in India and South Asia. We publish critical and analytical works on a range of subjects, and pay special attention to works on Marxist theory. We project the interests of the working people and movements for social transformation. Set up in 1999, LeftWord runs and manages May Day Bookstore and Café, which is next door to a theatre space, Studio Safdar LeftWord Books (Naya Rasta Publishers Pvt. Ltd) is the publishing
                    division of Naya Rasta Publishers Pvt Ltd.</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12  col-md-6 col-lg-6">
                <div class="about-map">
                  <img src="src/img/about-map.jpg" class="img-fluid">
                </div>
              </div>
              <div class="col-12  col-md-6 col-lg-6">
                <div class="about-map-cnt">
                    <div class="border-btm">
                      <p>If you have a manuscript you'd like to share with us, write to Vijay or Sudhanva at:</p>
                       <span>
                          <p><a href="mailto:vijay@leftword.com">vijay@leftword.com</a></p>
                          <p><a href="mailto:sudhanva@leftword.com">sudhanva@leftword.com</a></p>
                       </span>
                    </div>
                    <div class="border-btm">
                      <p>If you have sales and marketing related queries, Suvendu will help you out:</p>
                       <span>
                          <p><a href="mailto:suvendu@leftword.com">suvendu@leftword.com</a></p>
                          <p><a href="mailto:sales@leftword.com">sales@leftword.com</a></p>
                       </span>
                    </div>
                    <div class="">
                      <p>If there's anything else you'd like to write to us about, send in an email to:</p>
                       <span>
                          <p><a href="mailto:info@leftword.com">info@leftword.com</a></p>
                       </span>
                    </div>
                    <div class="">
                    <p>For issues related to any order(s) you've placed, please write to us at:</p>
                       <span>
                          <p><a href="mailto:order@leftword.com">order@leftword.com</a></p>
                       </span>
                    </div>                
                    
                </div>
              </div>
            </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
    <figure class="about-banner2"></figure>
    <div class="container-fluid">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 lw-about-block video-block">
            <div class="row">
              <div class="col-12  col-md-6 col-lg-6">
                <div class="card">
                  <iframe width="100%" height="345" src="https://www.youtube.com/embed/0ZeBFMaF0lI?si=6b2zpDBYJEHQD0Oh">
                  </iframe>
                  <div class="card-body">
                    <h3>THE LEFTWORD STORY</h3>
                    <p>At our 20th anniversary celebration this year, we took a look back at why we started, the challenges we faced, the friends we made and the fun we had. Big shout-out to Anoushka Mathews of NewsClick for this story.</p>
                  </div>
                </div>
              </div>
              <div class="col-12  col-md-6 col-lg-6">
                <div class="card">
                  <iframe width="100%" height="345" src="https://www.youtube.com/embed/OArrnf2iIQ0?si=FsTgxwG88nHLph67">
                  </iframe>
                  <div class="card-body">
                    <h3>VIJAY PRASHAD ON TEESTA SETALVAD'S MEMOIRS</h3>
                    <!-- <h3>THE LEFTWORD STORY</h3> -->
                    <p>Vijay Prashad speaks on Teesta Setalvad's book, Foot Soldier of the Constitution: A Memoir. As the BJP demonised Teesta Setalvad, he says, we felt it was important for her to tell her own story, so that the real Teesta can be understood by people.</p>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

<!-- <div class="container-fluid lw-ourteam">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="lw-main-head align-center">
          <h2 class="underline-img">Our Team</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid lw-ourteam-item">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card">
          <img class="card-img-top" src="src/img/team-img-1.jpg" alt="Card image cap">
          <div class="card-body">
            <div class="card-title lw-ourteam-title">
              <h5>D. Rajendra Kumar</h5>
              <!-- <span>Rajendra Kumar works part-time and handles accounts.</span> -->
              <!-- <span>Senior Front-end Developer</span> -->
            <!-- </div> -->
            <!-- <p class="card-text lw-ourteam-text">
              Rajendra Kumar works part-time and handles accounts.
            </p>
               <div class="lw-social-link">
                <ul>
                  <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                </ul>
              </div>
          </div>
        </div>
      </div> -->
      <!-- Col-end -->
      <!-- <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card">
          <img class="card-img-top" src="src/img/team-img-1.jpg" alt="Card image cap">
          <div class="card-body">
            <div class="card-title lw-ourteam-title">
              <h5>Bonnie Green</h5>
              <span>Senior Front-end Developer</span>
            </div>
            <p class="card-text lw-ourteam-text">Worem ipsum dolor sit amet, consectetur adipiscing elit.
               Nunc vulputate libero et velit interdum, ac aliquet odio mattis.</p>
               <div class="lw-social-link">
                <ul>
                  <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                </ul>
              </div>
          </div>
        </div>
      </div> -->
      <!-- Col-end -->
      <!-- <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card">
          <img class="card-img-top" src="src/img/team-img-1.jpg" alt="Card image cap">
          <div class="card-body">
            <div class="card-title lw-ourteam-title">
              <h5>Bonnie Green</h5>
              <span>Senior Front-end Developer</span>
            </div>
            <p class="card-text lw-ourteam-text">Worem ipsum dolor sit amet, consectetur adipiscing elit.
               Nunc vulputate libero et velit interdum, ac aliquet odio mattis.</p>
               <div class="lw-social-link">
                <ul>
                  <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                </ul>
              </div>
          </div>
        </div>
      </div> -->
      <!-- Col-end -->

<!-- <div class="col-12 col-sm-6 col-md-4 col-lg-3">
  <div class="card">
    <img class="card-img-top" src="src/img/team-img-1.jpg" alt="Card image cap">
    <div class="card-body">
      <div class="card-title lw-ourteam-title">
        <h5>Bonnie Green</h5>
        <span>Senior Front-end Developer</span>
      </div>
      <p class="card-text lw-ourteam-text">Worem ipsum dolor sit amet, consectetur adipiscing elit.
         Nunc vulputate libero et velit interdum, ac aliquet odio mattis.</p>
         <div class="lw-social-link">
          <ul>
            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
          </ul>
        </div>
    </div>
  </div>
</div> -->
<!-- Col-end -->
    <!-- </div> -->
    <!-- <div class="row">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card">
          <img class="card-img-top" src="src/img/team-img-1.jpg" alt="Card image cap">
          <div class="card-body">
            <div class="card-title lw-ourteam-title">
              <h5>Bonnie Green</h5>
              <span>Senior Front-end Developer</span>
            </div>
            <p class="card-text lw-ourteam-text">Worem ipsum dolor sit amet, consectetur adipiscing elit.
               Nunc vulputate libero et velit interdum, ac aliquet odio mattis.</p>
               <div class="lw-social-link">
                <ul>
                  <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                </ul>
              </div>
          </div>
        </div>
      </div> -->
      <!-- Col-end -->
      <!-- <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card">
          <img class="card-img-top" src="src/img/team-img-1.jpg" alt="Card image cap">
          <div class="card-body">
            <div class="card-title lw-ourteam-title">
              <h5>Bonnie Green</h5>
              <span>Senior Front-end Developer</span>
            </div>
            <p class="card-text lw-ourteam-text">Worem ipsum dolor sit amet, consectetur adipiscing elit.
               Nunc vulputate libero et velit interdum, ac aliquet odio mattis.</p>
               <div class="lw-social-link">
                <ul>
                  <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                </ul>
              </div>
          </div>
        </div> -->
      <!-- </div> -->
      <!-- Col-end -->
      <!-- <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card">
          <img class="card-img-top" src="src/img/team-img-1.jpg" alt="Card image cap">
          <div class="card-body">
            <div class="card-title lw-ourteam-title">
              <h5>Bonnie Green</h5>
              <span>Senior Front-end Developer</span>
            </div>
            <p class="card-text lw-ourteam-text">Worem ipsum dolor sit amet, consectetur adipiscing elit.
               Nunc vulputate libero et velit interdum, ac aliquet odio mattis.</p>
               <div class="lw-social-link">
                <ul>
                  <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                </ul>
              </div>
          </div>
        </div>
      </div> -->
      <!-- Col-end -->

<!-- <div class="col-12 col-sm-6 col-md-4 col-lg-3">
  <div class="card">
    <img class="card-img-top" src="src/img/team-img-1.jpg" alt="Card image cap">
    <div class="card-body">
      <div class="card-title lw-ourteam-title">
        <h5>Bonnie Green</h5>
        <span>Senior Front-end Developer</span>
      </div>
      <p class="card-text lw-ourteam-text">Worem ipsum dolor sit amet, consectetur adipiscing elit.
         Nunc vulputate libero et velit interdum, ac aliquet odio mattis.</p>
         <div class="lw-social-link">
          <ul>
            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
          </ul>
        </div>
    </div>
  </div>
</div> -->
<!-- Col-end -->
    </div>
  </div>
</div> 

</section>
<!-- page layout width End -->
</main>
{% endblock %}

<!-- TEST -->