{% extends "templates/subbase.html" %}
{% block content %}


<body>

    <!-- banner-section -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="le-pagehead">
                    <h3>Categories</h3>
                    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                          <li class="breadcrumb-item"><a href="#">Home</a></li>
                          <li class="breadcrumb-item" aria-current="page">Books</li>
                          <li class="breadcrumb-item active" aria-current="page">Category</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- banner section end -->
<div class="container-fluid section-mr">

<div class="container">
    <div class="row row-col-12 row-cols-sm-10 row-col-md-2 row-col-lg-2 row-cols-xl-2">
        <div class="col-xl-5">
            <div class="">
<div class="lw-details-carousil">
        <div id="aniimated-thumbnials" class="slider-for">

          <a href="src/img/prodect-img.jpg" class="item-slick"><img src="src/img/prodect-img.jpg" alt="Alt"></a>
          <a href="src/img/prodect-img.jpg" class="item-slick"><img src="src/img/prodect-img.jpg" alt="Alt"></a>
          <a href="src/img/prodect-img.jpg" class="item-slick"><img src="src/img/prodect-img.jpg" alt="Alt"></a>
          <a href="src/img/prodect-img.jpg" class="item-slick"><img src="src/img/prodect-img.jpg" alt="Alt"></a>
          <a href="src/img/prodect-img.jpg" class="item-slick"><img src="src/img/prodect-img.jpg" alt="Alt"></a>
          <a href="src/img/prodect-img.jpg" class="item-slick"><img src="src/img/prodect-img.jpg" alt="Alt"></a>
          <a href="src/img/prodect-img.jpg" class="item-slick"><img src="src/img/prodect-img.jpg" alt="Alt"></a>
        </div>
        <div class="slider-nav">
          <div class="item-slick"><img src="src/img/prodect-img.jpg" alt="Alt"></div>
          <div class="item-slick"><img src="src/img/prodect-img.jpg" alt="Alt"></div>
          <div class="item-slick"><img src="src/img/prodect-img.jpg" alt="Alt"></div>
          <div class="item-slick"><img src="src/img/prodect-img.jpg" alt="Alt"></div>
          <div class="item-slick"><img src="src/img/prodect-img.jpg" alt="Alt"></div>
          <div class="item-slick"><img src="src/img/prodect-img.jpg" alt="Alt"></div>
          <div class="item-slick"><img src="src/img/prodect-img.jpg" alt="Alt"></div>
        </div>

      </div>
            </div>
        </div>
        <div class="col">
            <div class="lw-productDetails">
                <div class="lw-productDetailshd">
                    <h3>Keeping Up the Good Fight</h3>
                    <h4>From the Emergency to the Present Day</h4>
                    <p>Prabir Purkayastha</p>
                </div>
                <div class="lw-productDetailsItem">
                    <p>Edited by <span>Yadu</span></p>
                    <p>Translated by <span>Shiyas</span></p>
                </div>
                <div class="lw-productDetailscatagories">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                          <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Paperback</button>
                        </li>
                        <li class="nav-item" role="presentation">
                          <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Ebook</button>
                        </li>
                      </ul>
                      <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="lw-productDetailscatagItem">
                                <p>978-93-92018-97-8</p>
                                <p>LeftWord Books, New Delhi, 2023</p>
                                <p>Language<span>English</span></p>
                                <p>230 pages</p>
                                <p>5.5 x 8.5 inches</p>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <div class="lw-productDetailscatagItem">
                                <p>978-93-92018-97-8</p>
                                <p>LeftWord Books, New Delhi, 2023</p>
                                <p>Language<span>English</span></p>
                                <p>230 pages</p>
                                <p>5.5 x 8.5 inches</p>
                            </div>
                        </div>
                      </div>
                </div> 
                <div class="lw-productDetailsqty">
                    <div class="btn-group" role="group" aria-label="Basic outlined example">
                        <button type="button" class="btn btn-outline btn-lg">
                          <i class="fa fa-minus" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="btn btn-outline btn-lg">0</button>
                        <button type="button" class="btn btn-outline btn-lg">
                          <i class="fa fa-plus" aria-hidden="true"></i>
                        </button>
                      </div>
                </div>
                <div class="lw-productDetailsPrice">
                    <p>Price<span>INR 560.00</span></p>
                    <p>Book Club Price <span>INR 600.00</span></p>
                </div>
                <div class="lw-productDetailsbtn">
                    <ul>
                        <li>
                            <button type="button" class="btn btn-secondary2 btn-lg">Add to Cart</button> 
                        </li>
                        <li>
                            <button type="button" class="btn btn-primary btn-lg">Buy Now</button>
                        </li>
                        <li>
                            <a href="#" class="joinClub">Join BookClub</a>
                        </li>
                    </ul>
                </div>              
            </div>
        </div>        
    </div>
</div>
</div>
<div class="container ">
  <div class="row row-col-12 row-cols-sm-10 row-col-md-2 row-col-lg-2 row-cols-xl-2">
    <div class="col-xl-5">
      <div class="lw-productDetailsreview">
        <div class="lwpagehead">
          <h5>Reviews</h5>
        </div>
        <div class="lw-productDetailsreviewItems">
          <p>“All the while as I hold his book in my hands, and as I write this account of why the book is necessary reading to understand our times, I am haunted by the image of Prabir, now 47 years older than when he was first jailed in the Emergency of 1975-77, once again in prison, feebler in body, challenged by serious health ailments, but as blameless, as resolute and as brave as the first time.”
            Harsh Mander, The Wire</p>
          <span>Harsh Mander, The Wire</span>
        </div>
        <div class="lw-productDetailsreviewItems">
          <p>"[Purkayastha writes in] elegant prose of a consummate writer."</p>
          <span>John Dayal, The Federal</span>
        </div>
        <div class="lw-productDetailsreviewItems">
          <p>"In this modern masterpiece, Purkayastha weaves in his own personal story with the nation’s story of standing up to overbearing authority figures. Written in lucid prose, this autobiography is not an exercise in self-glorification or a boring story boringly told. It is a fighter’s examination of his own life and the people who shaped it. It is told without malice or rancour."</p>
          <span>Sanjay Hegde, The Wire</span>
        </div>        
        
      </div>
    </div>
    <div class="col">
      <div class="lw-productDetailsQrts">
        
        <div class="lw-quarts">
          <p>‘A timely memoir from an Indian journalist under siege.’</p>
          <span>N. Ram</span>
        </div>
        <div class="lw-quarts">
          <p>‘A timely memoir from an Indian journalist under siege.’</p>
          <span>N. Ram</span>
        </div>
      </div>
      <div class="lw-productDetailsDiscription">
        <div class="lw-discription">
          <p><b>September 25, 1975.</b> The students of Jawaharlal Nehru University in New Delhi had called for a strike to protest the expulsion of Ashoklata Jain, an elected councillor of the students’ union. Three months before, Prime Minister Indira Gandhi had declared a state of Emergency. It was the second day of the strike and the campus was tense. A black Ambassador car pulled up near a group of students, a few cops in plainclothes
             got out, and abducted one of them. The student spent the next one year in jail.</p>
        </div>
        <div class="lw-discription">
          <p><b>February 9, 2021.</b> Officers from the Enforcement Directorate raided the home of the founder of an online news portal. The raid lasted 113 hours, 
            over five days. The office of the news portal was also raided</p>
        </div>
        <div class="lw-discription">
          <p><b>October 3, 2023.</b> Officers of the Special Cell of Delhi Police remanded the founder of the news portal and his
             colleague to custody under the dreaded Unlawful Activities (Prevention) Act (UAPA).</p>
        </div>
        <div class="lw-discription">
          <p> Keeping Up the Good Fight is the story of Prabir Purkayastha, incarcerated by two authoritarian regimes, half a century apart. It is also the story of a young man’s political coming of age, told with wit and humour, and of his engagement with some of India’s most pressing social,
           political and economic issues over the decades.</p>
        </div>
        <div class="lw-discription">
          <h2>Prabir Purkayastha</h2>
          <p>Prabir Purkayastha is an engineer and a science activist in the power, telecom and software sectors. He is a founding member of the Delhi Science Forum. He is the author of Knowledge as Commons: Towards Inclusive Science and Technology (LeftWord 2023) and co-author, along with Vijay Prashad, of Enron Blowout: Corporate Capitalism and Theft of the Global Commons (LeftWord 2002), and along with Ninan Koshy, M.K. Bhadrakumar, of Uncle Sam’s Nuclear Cabin (LeftWord 2007). He is co-editor with Indranil and Richa Chintan of Political Journeys in Health: Essays by and
             for Amit Sengupta (LeftWord 2021). He is the founder of Newsclick.in.</p>
        </div>
        <div class="lw-discription">
          <h3>See more books by Prabir Purkayastha</h3>
        </div>
        <div class="lw-discription">
          <ul>
            <li>
              <a href="#" class="">BIOGRAPHY & MEMOIR</a>
            </li>
            <li>
              <a href="#" class="">POLITICS</a>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>



    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="lwpagehead">
                    <h5>You May Like</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="list-item">
                            <div class="card card-item">
                                <a href="" class="card-item-img">
                                    <span class="book-type">EBook</span>
                                    <img src="/src/img/best_seller_img.png" class="img-fluid">
                                </a>
                                <div class="card-content">
                                    <div class="itemDetails">
                                        <h6 class="text-limit2">When Paris Sizzled: The 1920s Paris of Hemingway The
                                            1920s Paris of
                                            Hemingway
                                        </h6>
                                        <p>Dev Publishers</p>
                                        <!-- <div class="Stars" style="--rating: 3;" aria-label="Rating of this product is 3 out of 5."></div> -->
                                    </div>
                                    <div class="cart-hover-sec">
                                        <div class="price-amount"><span>INR</span>399.50</div>
                                        <div class="add-cart-btn">
                                            <a href="" class="btn-primary btn-style btn-icon-left">ADD TO CART</a>
                                            <!-- <span class="heart-icon"><i class="fa fa-heart fa-regular cart-heart"></i></span> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="list-item">
                            <div class="card card-item">
                                <a href="" class="card-item-img">
                                    <span class="book-type">EBook</span>
                                    <img src="/src/img/best_seller_img.png" class="img-fluid">
                                </a>
                                <div class="card-content">
                                    <div class="itemDetails">
                                        <h6 class="text-limit2">When Paris Sizzled: The 1920s Paris of Hemingway The
                                            1920s Paris of
                                            Hemingway
                                        </h6>
                                        <p>Dev Publishers</p>
                                        <!-- <div class="Stars" style="--rating: 3;" aria-label="Rating of this product is 3 out of 5."></div> -->
                                    </div>
                                    <div class="cart-hover-sec">
                                        <div class="price-amount"><span>INR</span>399.50</div>
                                        <div class="add-cart-btn">
                                            <a href="" class="btn-primary btn-style btn-icon-left">ADD TO CART</a>
                                            <!-- <span class="heart-icon"><i class="fa fa-heart fa-regular cart-heart"></i></span> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="list-item">
                            <div class="card card-item">
                                <a href="" class="card-item-img">
                                    <span class="book-type">EBook</span>
                                    <img src="/src/img/best_seller_img.png" class="img-fluid">
                                </a>
                                <div class="card-content">
                                    <div class="itemDetails">
                                        <h6 class="text-limit2">When Paris Sizzled: The 1920s Paris of Hemingway The
                                            1920s Paris of
                                            Hemingway
                                        </h6>
                                        <p>Dev Publishers</p>
                                        <!-- <div class="Stars" style="--rating: 3;" aria-label="Rating of this product is 3 out of 5."></div> -->
                                    </div>
                                    <div class="cart-hover-sec">
                                        <div class="price-amount"><span>INR</span>399.50</div>
                                        <div class="add-cart-btn">
                                            <a href="" class="btn-primary btn-style btn-icon-left">ADD TO CART</a>
                                            <!-- <span class="heart-icon"><i class="fa fa-heart fa-regular cart-heart"></i></span> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="list-item">
                            <div class="card card-item">
                                <a href="" class="card-item-img">
                                    <span class="book-type">EBook</span>
                                    <img src="/src/img/best_seller_img.png" class="img-fluid">
                                </a>
                                <div class="card-content">
                                    <div class="itemDetails">
                                        <h6 class="text-limit2">When Paris Sizzled: The 1920s Paris of Hemingway The
                                            1920s Paris of
                                            Hemingway
                                        </h6>
                                        <p>Dev Publishers</p>
                                        <!-- <div class="Stars" style="--rating: 3;" aria-label="Rating of this product is 3 out of 5."></div> -->
                                    </div>
                                    <div class="cart-hover-sec">
                                        <div class="price-amount"><span>INR</span>399.50</div>
                                        <div class="add-cart-btn">
                                            <a href="" class="btn-primary btn-style btn-icon-left">ADD TO CART</a>
                                            <!-- <span class="heart-icon"><i class="fa fa-heart fa-regular cart-heart"></i></span> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="list-item">
                            <div class="card card-item">
                                <a href="" class="card-item-img">
                                    <span class="book-type">EBook</span>
                                    <img src="/src/img/best_seller_img.png" class="img-fluid">
                                </a>
                                <div class="card-content">
                                    <div class="itemDetails">
                                        <h6 class="text-limit2">When Paris Sizzled: The 1920s Paris of Hemingway The
                                            1920s Paris of
                                            Hemingway
                                        </h6>
                                        <p>Dev Publishers</p>
                                        <!-- <div class="Stars" style="--rating: 3;" aria-label="Rating of this product is 3 out of 5."></div> -->
                                    </div>
                                    <div class="cart-hover-sec">
                                        <div class="price-amount"><span>INR</span>399.50</div>
                                        <div class="add-cart-btn">
                                            <a href="" class="btn-primary btn-style btn-icon-left">ADD TO CART</a>
                                            <!-- <span class="heart-icon"><i class="fa fa-heart fa-regular cart-heart"></i></span> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="list-item">
                            <div class="card card-item">
                                <a href="" class="card-item-img">
                                    <span class="book-type">EBook</span>
                                    <img src="/src/img/best_seller_img.png" class="img-fluid">
                                </a>
                                <div class="card-content">
                                    <div class="itemDetails">
                                        <h6 class="text-limit2">When Paris Sizzled: The 1920s Paris of Hemingway The
                                            1920s Paris of
                                            Hemingway
                                        </h6>
                                        <p>Dev Publishers</p>
                                        <!-- <div class="Stars" style="--rating: 3;" aria-label="Rating of this product is 3 out of 5."></div> -->
                                    </div>
                                    <div class="cart-hover-sec">
                                        <div class="price-amount"><span>INR</span>399.50</div>
                                        <div class="add-cart-btn">
                                            <a href="" class="btn-primary btn-style btn-icon-left">ADD TO CART</a>
                                            <!-- <span class="heart-icon"><i class="fa fa-heart fa-regular cart-heart"></i></span> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- -----------------------End----------------- -->



    <button class="scrollToTopBtn"><i class="fa-solid fa-arrow-up"></i></button>
    <!-- Bootstrap JavaScript Libraries -->


</body>

{% endblock %}
