{% extends "templates/mainbase.html" %}
{% block content %}
<main>
    <!-- page layout width Start -->
    <section class="lw-shopping-my-account">
        <div class="container-fluid lw-page-header">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="lw-pghd-text">
                            <h3>My Account</h3>
                            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/leftword_home">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">My Account</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="container">
                <section class="m-50">
                {% if frappe.session.user != 'Guest' %}
                    <div class="row">
                        <div class="col-xl-3">
                            <div class="card card-gray mb-10">
                                <div class="left-myaccount">
                                    <div class="profile-holder">
                                        <div class="profile-avatar">
                                            <img src="{{ user_image or '' }}" class="img-fluid user-img">
                                            <input class="file-upload" type="file" id="imageUpload" name="file" accept="image/png, image/jpg, image/jpeg">
                                        </div>
                                        <div class="profile-avatar-cnt">
                                            <h3 id="user-name">{{ custom_display_name or first_name}}</h3>
                                        </div>
                                    </div>
                                    <div class="profile-tabs">
                                        <nav class="nav flex-column">
                                            <a class="nav-link active" aria-current="page" href="my_account">Account</a>
                                            <!-- <a class="nav-link" href="/my_address">Address</a> -->
                                            <a class="nav-link" href="my_orders">Orders</a>
                                            <!-- <a class="nav-link" href="my_wishlist">Wishlist</a> -->
                                            <a class="nav-link logout" href="#">Log Out</a>                                        
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-9">
                            <div class="lw-cart-box">
                                <div class="card">
                                    <div class="card-header card-h-p-l0 card-h-bg-0 border-0 mb-4">Account Details</div>
                                    <div class="lw-form">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="lw-form-blk">
                                                    <label class="form-label form-capital">First Name</label>
                                                    <input type="text"
                                                        value="{{ first_name or '' }}"
                                                        class="form-control form-border-light radius10 height50"
                                                        id="first-name"
                                                        placeholder="First name">
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="lw-form-blk">
                                                    <label class="form-label form-capital">Last Name</label>
                                                    <input type="text"
                                                        value="{{ last_name or '' }}"
                                                        class="form-control form-border-light radius10 height50"
                                                        id="last-name"
                                                        placeholder="Last name">
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="lw-form-blk">
                                                    <label class="form-label form-capital">Display Name</label>
                                                    <input type="text"
                                                    value="{{ custom_display_name or '' }}"
                                                    class="form-control form-border-light radius10 height50"
                                                    id="display-name"
                                                    placeholder="Last name">
                                                    <div class="label-info">This will be how your name will be displayed in
                                                        the account section and
                                                        in reviews</div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="lw-form-blk">
                                                    <label class="form-label form-capital">Email</label>
                                                    <input type="text"
                                                        value="{{ email or '' }}"
                                                        class="form-control form-border-light radius10 height50 email"
                                                        id="email-id"
                                                        placeholder="Last name">
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="lw-form-blk">
                                                    <label class="form-label form-capital">Phone Number</label>
                                                    <input type="text"
                                                        value="{{ phone or '' }}"
                                                        class="form-control form-border-light radius10 height50 phone"
                                                        id="phone-number"
                                                        placeholder="Phone Number"
                                                        maxlength="10"
                                                        pattern="\d{10}"
                                                        oninput="this.value = this.value.replace(/[^0-9]/g, '').slice(0,10);">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="card m-20">
                                    <div class="card-header card-h-p-l0 card-h-bg-0 border-0 mb-4">Password</div>
                                    <div class="lw-form">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="lw-form-blk">
                                                    <label class="form-label form-capital">Old password</label>
                                                    <input type="text"
                                                        class="form-control form-border-light radius10 height50"
                                                        id="old-password"
                                                        placeholder="Old password">
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="lw-form-blk">
                                                    <label class="form-label form-capital">New password</label>
                                                    <input type="text"
                                                        class="form-control form-border-light radius10 height50"
                                                        id="new-password"
                                                        placeholder="New password">
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="lw-form-blk">
                                                    <label class="form-label form-capital">Repeat New Passowrd</label>
                                                    <input type="text"
                                                        id="confirm-password"
                                                        class="form-control form-border-light radius10 height50"
                                                        placeholder="Repeat New Passowrd">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <button type="button" class="btn btn-secondary mb-2 btn-lg btn-update-user" id='btnEditProfile'>Save changes</button>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        <!-- col-8 -->
                </section>
            </div>
        </div>
    </section>
    <!-- page layout width End -->
</main>
{% endblock %}