
{% extends "templates/subbase.html" %}

{% block content %}
<main>
    <!-- banner-section -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="le-pagehead">
                    <h3>Privacy Policy</h3>
                    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                          <li class="breadcrumb-item"><a href="/leftword_home">Home</a></li>
                          <li class="breadcrumb-item active" aria-current="page">Privacy Policy</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- banner section end -->
<div class="container lwpolycyDetails">
    <div class="row">
        <div class="col-md-12">
            <p>This privacy policy explains how we use the information we collect about you and the procedures that we have in place to safeguard your privacy whilst you use the LeftWord Books (Naya Rasta Publishers Pvt. Ltd) website. It was last updated on 6th August 2018.</p>
            <p>We will only use the information that we collect about you lawfully, in accordance with the Information Technology (Reasonable Security Practices and Sensitive Personal Data or Information) Rules, 2011, issued under Section 43A of the Information Technology Act, 2000. We may update this policy from time to time. If we do, any changes will be detailed on this page for you to refer to. If you have any questions, or any requests concerning your personal information please contact us at info@leftword.com, or alternatively, write to us at:</p>
            <div class="lwaddress">
                <p>LeftWord Books (Naya Rasta Publishers Pvt. Ltd)</p>
                <p>2253 E Shadi Khampur
                <p>New Ranjit Nagar</p>
                <p> New Delhi</p>
                <p>Delhi - 110008</p>
            </div>
        </div>
        <div class="col-md-12">
            <div class="lw-policywrap">
              <h2>How We Collect and Use Your Personal Data</h2> 
              <p>LeftWord Books (Naya Rasta Publishers Pvt. Ltd) collects certain personal data depending on what activities you engage in while on our website. Examples of these different activities and the data we may collect are listed below:</p>  
                <div class="lw-spcnt">
                    <p>General use of the website: We use Google Analytics to monitor traffic patterns. As part of this, we may collect information about your geographical location; age and gender; and statistics about your use of the website.</p>
                    <p>Making a purchase on the website: When you buy a product from our website we require you to create a guest or user account, and we store your name and email address on our guest/user account database, along with details of any purchases or downloads. In order to process a purchase, we will additionally require your billing address. Please note – we do not store any card details on the LeftWord Books (Naya Rasta Publishers Pvt. Ltd) website. Your card or bank details are entered only on the payment gateway. We neither ask for, nor receive, any card or bank details for any customer from our payment gateways.</p>
                    <p>Signing up to our newsletter: If you choose to sign up to our newsletter we will collect your name, email address and IP address.</p>
                </div>
            </div> 
        </div>
        <div class="col-md-12">
            <div class="lw-policywrap">
              <h2>What we do with the information we gather</h2> 
              <p>LeftWord Books (Naya Rasta Publishers Pvt. Ltd) collects certain personal data depending on what activities you engage in while on our website. Examples of these different activities and the data we may collect are listed below:</p>  
                <div class="lw-spcnt">
                    <p>If you have opted in to receive promotional emails via our newsletter, we will use the contact details provided to contact you about new books, authors, events and other developments.</p>
                    <p>If you make a purchase on the website with a guest sign-in, we will keep records of your transactions in case of any questions, replacements or refunds, but we will not contact you for promotional and marketing purposes unless you have opted in.</p>
                    <p>We use the data gathered about your visit(s) to our website in order to improve our functionalities and overall user experience.</p>
                </div>
            </div> 
        </div>
        <div class="col-md-12">
            <div class="lw-policywrap">
              <h2>Disclosure of Personal Data</h2> 
              <p>We will not share your personal data with any third parties unless it is strictly necessary for the purposes of running our website and business. Those third parties with whom we may share your data include, but may not be limited to:</p>  
                <div class="lw-spcnt">
                    <p>Google or other analytics – in order to monitor site traffic for the purposes of improving user experi</p>
                    <p>If you sign up to the LeftWord mailing list, your contact details will be shared with whatever mass emailing solution we may be using at that time.</p>
                </div>
            </div> 
        </div>
        <div class="col-md-12">
            <div class="lw-policywrap">
              <h2>Marketing and Promotional Activity</h2> 
              <p>Where you have provided your explicit consent for us to do so, we may contact you with marketing information about our products, events, services, etc. We will only use the personal information you provide us with in order to provide marketing information that is relevant – in other words, relating to the same or similar services you have previously used.</p>
              <p>If you are signed up to the LeftWord mailing list but no longer want to receive promotional emails from us, simply scroll to the bottom of any email you have received and click ‘unsubscribe from this list’. You will still receive emails from us to confirm any purchases, and there may be instances where it is necessary for us to communicate with you, in any event, for administrative or operational reasons relating to our service.</p>
              <p>To change any of your contact details or account settings please log in, click ‘My Account’ and make changes.</p>
            </div> 
        </div>   
        <div class="col-md-12">
            <div class="lw-policywrap">
              <h2>Security</h2> 
              <p>We endeavour to do our best to protect your personal data. For all personal data we hold, we use strict procedures and security features to prevent unauthorized access. Nonetheless, we cannot guarantee the absolute security of your data transmitted to our site, and any transmission is at your own risk.</p>
              <p>In order to have a user account on the LeftWord Books (Naya Rasta Publishers Pvt. Ltd) website, you will be required to create a password. You are responsible for keeping this password confidential and secure. If you forget your password we are able to issue a new one.</p>
            </div> 
        </div>
        <div class="col-md-12">
            <div class="lw-policywrap">
              <h2>Storage and Retention</h2> 
              <p>We will retain information about you only for the period necessary to fulfill the purposes for which the information was collected.</p>
              <p>This retention period may vary depending on the purposes for which the information was collected. For example, the data we collect via Google Analytics may be stored up to a maximum of 50 months (other analytics solutions may have different time periods); if you have signed up to receive our newsletter we will retain your data indefinitely, until you opt out.</p>
              <p>Please note that in some circumstances we may be legally obliged to retain your information, for example, for tax and accounting purposes.</p>
            </div> 
        </div>        
         <div class="col-md-12">
            <div class="lw-policywrap">
              <h2>Your Rights</h2> 
              <p>As a data subject (i.e. someone about whom we collect personal information) you have certain rights. These rights are not universal or absolute, and will vary depending on applicable data protection legislation in future. All website users based in India and offshore have the following rights:</p>
              <div class="lw-spcnt">
                <p>The right to access personal data held by us about you.</p>
                <p>The right to require us to correct any inaccurate data we might hold about you.</p>
                <p>The right to require us to erase/delete personal data held by us about you.</p>
                <p>The right to restrict our processing of personal data held by us about you.</p>
                <p>The right to request and receive – at no financial cost – any and all personal data which you have provided to us in an accessible format.</p>
                <p>The right to withdraw your consent to our processing of your personal data.</p>
              </div>
              <p>
                In order to exercise any of these rights, please email us at <a href="mailto:info@leftword.com"> info@leftword.com.</a></p>
            </div> 
        </div>       
         <div class="col-md-12">
            <div class="lw-policywrap">
              <h2>Cookies Policy</h2> 
              <p>Cookies are small text files placed on your computer or mobile device by websites you visit.</p>
              <p>The LeftWord Books (Naya Rasta Publishers Pvt. Ltd) website uses cookies for a number of purposes: to enable us to simplify the logging in process for registered users, to help ensure the security and authenticity of registered users, and to provide the mechanisms for online shopping. Cookies also help us to analyse data about webpage traffic which we use to improve our website. A cookie in no way gives us access to your computer or any information about you, other than the data that you choose to share with us. While you do not need to allow your browser to accept cookies in order to use our website, you will need to have cookies enabled if you wish to shop online or access any areas reserved for registered users, such as your account.</p>
            </div> 
        </div> 

    </div>
</div>

<!-- -----------------------End----------------- -->

</main>
{% endblock %}