
{% extends "templates/subbase.html" %}

{% block content %}
<main>
    <!-- banner-section -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="le-pagehead">
                    <h3>Return Policy</h3>
                    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                          <li class="breadcrumb-item"><a href="/leftword_home">Home</a></li>
                          <li class="breadcrumb-item active" aria-current="page">Return and Cancellation Policy</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- banner section end -->
<div class="container lwpolycyDetails">
    <div class="row">
        <div class="col-md-12">
            <div class="lw-policywrap">
              <h2>Return and Cancellation Policy</h2> 
              <p>LeftWord Books (Naya Rasta Publishers Pvt. Ltd) collects certain personal data depending on what activities you engage in while on our website. Examples of these different activities and the data we may collect are listed below:</p>  
                <p>At LeftWord.com we offer an EASY 7-DAY REFUND OR EXCHANGE policy. If you are not entirely satisfied with your purchase, you may exchange or return most books you buy from LeftWord.com</p>
            </div> 
        </div>
        <div class="col-md-12">
            <div class="lw-policywrap">
              <h2>Return and Exchange</h2> 
                <p>In case you receive any book with a manufacturing defect (e.g., unprinted formes, incorrect binding, incorrect cover, or any other obvious error in the manufacturing process), we will replace the copy with an error-free copy at no extra cost to you. Kindly write to us at <a href="mailto:info@leftword.com">info@leftword.com</a> and send us photos of the manufacturing errors within 7 days of your receipt of the book/s.</p>  
                <p>In case you receive any book with more than marginal damage due to faulty packaging, we will replace the copy with a fresh copy at no extra cost to you. Kindly write to us at <a href="mailto:info@leftword.com">info@leftword.com</a> and send us photos of the damaged copy within 7 days of your receipt of the book/s.</p>
                <p>In case you do not receive the book/s ordered by you and receive some other book/s in stead, we will send the correct order at no extra cost to you. Kindly write to us at <a href="mailto:info@leftword.com">info@leftword.com</a> and send us photos of the incorrect order within 7 days of your receipt of the book/s.</p>
                <p>In case we are unable to source the book/s that you ordered we will let you know by email along with an expected date for shipment. If the book is out of print and cannot be sourced, we’ll refund the full amount.</p>
            </div> 
        </div>
        <div class="col-md-12">
            <div class="lw-policywrap">
              <h2>Cancellation</h2> 
                <p><b>An order cannot be cancelled after shipment. If you wish to cancel your order, we can only cancel it before it has been shipped.</b></p>  
                <p>If your order has been placed before 2 p.m., we ship it on the same day, barring exceptional circumstances. In case the order is placed after 2 p.m., we ship it the following day.</p>
                <p>In case you do not receive the book/s ordered by you and receive some other book/s in stead, we will send the correct order at no extra cost to you. Kindly write to us at <a href="mailto:info@leftword.com">info@leftword.com</a> and send us photos of the incorrect order within 7 days of your receipt of the book/s.</p>
                <p>To process a return or cancellation please call us on +91 11 2570 9456 (Monday to Friday from 11.00 a.m. to 6.00 p.m. IST) or write to us at <a href="mailto:info@leftword.com">info@leftword.com.</a></p>
            </div> 
        </div>

    </div>
</div>

<!-- -----------------------End----------------- -->

</main>
{% endblock %}