
{% extends "templates/subbase.html" %}

{% block content %}

<main>
    <!-- banner-section -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="le-pagehead">
                    <h3>Shipping and delivery Policy</h3>
                    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/leftword_home">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Shipping and delivery Policy</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- banner section end -->
    <div class="container lwpolycyDetails">
        <div class="row">
            <div class="col-md-12">
                <div class="lw-policywrap">
                    <h2>Shipping and delivery</h2>
                    <p>We ship orders on working days. If your order has been placed before 2 p.m. (IST), we ship it on the same day, barring exceptional circumstances. In case the order is placed after 2 p.m. (IST), we ship it the following day. The normal delivery time for orders within India is approximately 2 to 5 days, depending on distance from New Delhi and regional connectivity. The normal delivery time for international orders is approximately 4 to 7 days, depending on country and region. Some international orders may take longer, due to the target country’s customs procedures or other requirements. LeftWord Books (Naya Rasta Publishers Pvt. Ltd) will not be liable for any delay due to circumstances beyond its control, particularly after the order has been shipped.</p>
                    <p>You are requested to regularly check for any amendments or updates to the Terms and Conditions
                        from time to time. Naya Rasta Publishers Pvt. Ltd. may add to or change or update these Terms of
                        Use from time to time entirely at its own discretion. You are responsible for checking these
                        Terms of Use periodically to remain in compliance with these Terms. Your use of the Website and
                        any amendment to the Terms of Use shall constitute your acceptance of these terms and your
                        agreement to be bound by any such changes/revisions/amendments.</p>
                    <p>In case of any queries, please call us on +91 11 2570 9456 (Monday to Friday from 11.00 a.m. to 6.00 p.m. IST) or write to us at <a href="mailto:info@leftword.com">info@leftword.com.</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- -----------------------End----------------- -->

</main>
{% endblock %}