
{% extends "templates/subbase.html" %}

{% block content %}

<main>
  
    <!-- banner-section -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="le-pagehead">
                    <h3>Terms & Conditions</h3>
                    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Terms & Conditions</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- banner section end -->
    <div class="container lwpolycyDetails">
        <div class="row">
            <div class="col-md-12">
                <div class="lw-policywrap">
                    <h2>Terms / Disclaimer</h2>
                    <p>The Terms and Conditions contained herein along with the Privacy Policy, form an Agreement
                        regulating our relationship with regard to the use of the LeftWord Books (Naya Rasta Publishers Pvt. Ltd) Website
                        ‘mayday.leftword.com’ by you. LeftWord Books is a division of Naya Rasta Publishers Pvt Ltd.</p>
                    <p>These terms of use (Terms) constitute a legally binding agreement between you and the <b>Naya
                            Rasta Publishers Pvt. Ltd.</b> (the Company) regarding your use of the Website, i.e.,
                        www.mayday.leftword.com (the Website) and any services offered by the company including but not
                        limited to delivery of content via the Website, any mobile or internet connected device or
                        otherwise (the “the Service”). By accessing the Website or Service and/or by clicking “I agree”,
                        you agree to be bound by these Terms. You hereby represent and warrant to the Company that you
                        are at least eighteen (18) years of age or above and are capable of entering, performing and
                        adhering to these Terms and that you agree to be bound by the following terms and conditions.
                        While individuals under the age of 18 may utilize the Service of the Website, they shall do so
                        only with the involvement and guidance of their parents and/or legal guardians, under such
                        Parent/Legal guardian’s registered account. You agree to register prior to uploading any content
                        and/or comment and any other use or services of this Website and provide your details including
                        but not limited to complete name, age, email address, residential address, and contact number.
                    </p>
                    <p>You are requested to regularly check for any amendments or updates to the Terms and Conditions
                        from time to time. Naya Rasta Publishers Pvt. Ltd. may add to or change or update these Terms of
                        Use from time to time entirely at its own discretion. You are responsible for checking these
                        Terms of Use periodically to remain in compliance with these Terms. Your use of the Website and
                        any amendment to the Terms of Use shall constitute your acceptance of these terms and your
                        agreement to be bound by any such changes/revisions/amendments.</p>
                    <p>Any clause of terms and conditions, if deemed invalid, void or for any reason unenforceable,
                        shall be deemed severable and shall not affect the validity and enforceability of the remaining
                        clauses of the terms and conditions.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- -----------------------End----------------- -->

</main>
    {% endblock %}