.lw-shopping-my-account {
    .left-myaccount {
        .profile-holder {
            text-align: center;
            .profile-avatar-cnt {
                h3 {
                    font-size: 22px;
                    line-height: 26.3px;
                    font-weight: 500;
                    margin: 10px 0px;
                }
            }
            .profile-avatar {
                width: 115px;
                height: 115px;
                border-radius: 50%;
                margin: 0 auto;
                position: relative;
                img {
                    width: 115px;
                    height: 115px;
                    border-radius: 50%;
                }
                .file-upload {
                    position: absolute;
                    z-index: 9999;
                    bottom: 0px;
                    right: 0px;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    background-color: black;
                    border: 2px solid #ffffff;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    &:before {
                        content: url("../img/upload-icon.svg");
                        line-height: 15px;
                    }
                    input {
                        opacity: 0;
                        position: absolute;
                        width: 40px;
                        height: 40px;
                    }
                }
            }
        }
        .profile-tabs {
            .nav {
                .nav-link {
                    &.active {
                        color: $text-primary;
                        border-bottom: 1px solid $text-primary;
                    }
                    &:hover {
                        color: $text-primary;
                    }
                    color: $form-label;
                    padding-left: 0px;
                    font-size: 22.77px;
                    font-weight: 500;
                }
            }
        }
    }
    .lw-address-list {
        .address-holder {
            border: 1px solid#6C7275;
            border-radius: 5px;
            padding: 30px;
            position: relative;
            h3 {
                font-size: 22.77px;
                line-height: 26.3px;
                font-weight: 500;
            }
            p {
                font-size: 19.93px;
                line-height: 26.3px;
                font-weight: 400;
                margin: 0px;
            }
            .address-edit {
                position: absolute;
                right: 22px;
                top: 27px;
                color: $form-label;
                font-weight: 500;
                display: flex;
                align-items: center;
                &:before {
                    content: url("../img/edit-icon.svg");
                    margin-right: 8px;
                }
            }
        }
    }
    .lw-order-list {
        .order-item {
            .table {
                td {
                    font-size: 15.93px;
                    line-height: 26.3px;
                    font-weight: 400;
                    margin: 0px;
                }
            }
        }
    }
}